.container
  %ul
    - task.errors.full_messages.each do |message|
      %li= message
  %h2 New Card
  = form_with(model: [@board, @task], local: true, data: { turbo: false } ) do |f| 
    %div
      = f.label :graphic,'image'
    %div
      = f.file_field :graphic
    %div
      = f.label :deadline
    %div
      = f.datetime_select :deadline, class: 'text'
    %div
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :summary, 'summary'
    %div
      = f.text_field :summary, class: 'text'
    %div
      = f.label :detail, 'Description'
    %div
      = f.text_area :detail
    %div
      = f.submit 'Submit', class: 'btn-submit'
