.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .board
        .board_title
          = board.title
          -# has_written は user.rb で定義
          - if current_user.has_written_board?(board)
            .board_detailActions
              .dropdown
                = image_tag "combined-shape.png"
                .dropdown-content.mini
                  = link_to 'Edit', edit_board_path(board)
                  = link_to 'Delete', board_path(board), data: { turbo_method: 'delete', turbo_confirm: '本当によろしいですか？'}
        .board_text 
          = board.description
        .board_profInfo
          = image_tag board.user.avatar_image, class: 'board_avatar'
          .board_profInfo_text
            %p= board.author_name
            %p= board.display_created_at
  = link_to new_board_path do
    .board_add
      + Add New Board