.container
  %h2
    = @board.title
    - @tasks.each do |task|
      .board
        -# ex) boards/12/tasks/2
        -# boards/12 と tasks/2 の両方を特定するための id が必要
        = link_to board_task_path(task.board, task) do
          - if task.graphic.attached?
            .board_graphic 
              .img
                = image_tag task.graphic
          .board_title 
            = task.title
          .board_text
            = task.summary
          .board_profInfo
            = image_tag task.user.avatar_image, class: 'board_avatar'
            .board_profInfo_text
              %p= task.author_name
              %p= task.display_created_at
            .board_profInfo_text 
              deadline
              %p= task.deadline 
  = link_to new_board_task_path(@board) do
    .board_add
      + Add new Card